.divPerson{
    display: flex;
}

.imgPerson {
    width: 20vw;
    height: 35vh;
    border-radius: 20px;
}

.cardPerson{
    margin-left: 2.5%;
    margin-right: 2.5%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color:#026d81;
    list-style-type: none;
    width: 25vw;
    height: 50vh;

    border-style:solid;
    border-color: black;
    border-radius: 20px;
    border-width: 3px;
}

button{
    width: 20vw;
    height: 5Vh;
    background-color: #026d81;

    margin-left: 30vw;
    
}

